<?xml version="1.0"?>

<!--
// Copyright 2024 Stereolabs
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
-->

<robot name="zedbot_custom" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="camera_name" default="zed" />
  <xacro:arg name="camera_model" default="zed2i" />
  <xacro:arg name="use_zed_localization" default="true" />

  <!-- Include the robot -->
  <xacro:include filename="$(find point_cloud_processor)/urdf/car.urdf.xacro" />

  <!-- Include the VESC -->
  <xacro:include filename="$(find point_cloud_processor)/urdf/vesc.urdf.xacro" />

  <!-- Add ZED Camera -->
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
  <xacro:zed_camera name="zed" model="$(arg camera_model)">
    <!-- Empty block to satisfy *gnss_origin requirement -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:zed_camera>
  <!-- Joint to connect camera to robot -->
  <xacro:if value="$(arg use_zed_localization)">
    <joint name="zed_joint" type="fixed">
      <parent link="zed_camera_link"/>
      <child link="base_link"/>
      <origin xyz="-0.21 0.0 -0.17" rpy="0 0 0"/>
    </joint>
  </xacro:if>
  <xacro:unless value="$(arg use_zed_localization)">
    <joint name="zed_joint" type="fixed">
      <parent link="base_link"/>
      <child link="zed_camera_link"/>
      <origin xyz="0.21 0.0 0.15" rpy="0 0 0"/>
    </joint>
  </xacro:unless>



<xacro:vesc name="vesc"/>

<!-- Keep your existing vesc_joint -->
<joint name="vesc_joint" type="fixed">
  <parent link="base_link"/>
  <child link="vesc/base_link"/>
  <origin xyz="-0.0 -0.03 0.13" rpy="0 0 0"/>
</joint>

</robot>